@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-urv-black;
  }

  a {
    @apply text-urv-red hover:underline;
  }

  /* Override for sidebar nav links */
  .sidebar-nav a {
    @apply no-underline;
  }
}

